* {
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
}

#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    font-family: "Segoe UI";
    text-align: center;
    font-size: 50px;
}